html{
  font-size: 62.5%;
}
a{
  text-decoration: none;
  color: #fff;
}
body {
  margin: 0;
  font: 1.6rem sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  letter-spacing: .1rem;
}
h1,h2,h3,p{
  margin: 0;
  font-weight: normal;
}
ul,ol{
  list-style-type: none;
}
button{
  padding: 0;
  background: none;
  font-size: inherit;
  color: #fff;
  cursor: pointer;
  width: max-content;
  padding: 0 2rem;
  border: solid .1rem #fff;
  line-height: 2.8rem;
  border-radius: .4rem;
}